H1, P {
    font-family: Verdana;
    text-align: center;
}

TEXTAREA, INPUT, TD, TH{
    font-size: 12pt;
    font-family: Verdana;
    }

TH {
    text-align: left;
    height: 24pt;
    vertical-align: bottom;
}

TABLE{
    margin-left:auto;
    margin-right:auto;
}