<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of notes</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Subject</th>
        </tr>
        <tr th:each="note : ${notes}">
            <td th:text="${#temporals.format(note.creationMoment, 'dd/MM/yyyy HH:mm', new java.util.Locale('en'))}">
                Date
            </td>
            <td th:text="${note.subject}">Subject</td>
            <td><a th:href="@{/notes/{id}(id=${note.id})}">View</a></td>
            <td>
                <form th:action="@{/delete/{id}(id=${note.id})}" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form th:action="@{/edit/{id}(id=${note.id})}" method="post">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
        </tr>
    </table>
    <a href="/new">Мake a new note</a>
</body>
</html>