<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.note}">Your note</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="style.css">
</head>
<body>
<p th:replace="fragments :: locale"></p>
<table width="500">
    <tr>
        <td th:replace="fragments :: date-time">
        </td>
    </tr>
    <tr>
        <th th:text="#{subject}">Subject</th>
    </tr>
    <tr>
        <td th:text="${note.subject}">Subject</td>
    </tr>
    <tr>
        <th th:text="#{content}">Content</th>
    </tr>
    <tr>
        <td th:text="${note.content}">Content</td>
    </tr>
    <tr>
        <table>
            <tr>
                <td><input type="submit" th:value="#{edit}" form="edit"/></td>
                <td><input type="submit" th:value="#{delete}" form="delete"/></td>
                <td><input type="submit" th:value="#{list}" form="toList"/></td>
                <td><input type="submit" th:value="#{history}" form="showHistory"/></td>
            </tr>
        </table>
    </tr>
</table>
    <form th:action="@{/edit/{id}(id=${note.id})}" method="post" id="edit"></form>
    <form th:action="@{/delete/{id}(id=${note.id})}" method="post" id="delete"></form>
    <form action="/notes" methog="get" id="toList"></form>
    <form th:action="@{/history/{id}(id=${note.id})}" methog="get" id="showHistory"></form>
</body>
</html>